<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
</head>
<body>
    <h1>🏆 Leaderboard</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Total Score</th>
            </tr>
        </thead>
        <tbody>
                {% for user in leaderboard %}
                 <tr {% if forloop.first %}style="background-color: gold;"{% endif %}>
                 <td>{{ forloop.counter }}</td>
                    <td>
                    <img src="https://api.dicebear.com/7.x/thumbs/svg?seed={{ user.username }}" width="40" style="vertical-align: middle; border-radius: 50%;">
                     {{ user.username }}
                    </td>
                    <td>{{ user.total_score|default:0 }}</td>
                    </tr>
                 {% endfor %}
        </tbody>

    </table>

    <br>
    <a href="{% url 'question_list' %}">⬅ Back to Questions</a>
</body>
</html>
