<!DOCTYPE html>
<html>
<head>
    <title>GreetCode DSA Questions</title>
</head>
<body>
    {% if user.is_authenticated %}
         <a href="{% url 'user_profile' user.username %}">👤 My Profile</a>
    {% endif %}
    <a href="{% url 'leaderboard' %}">🏆 Leaderboard</a>

    <h1>List of DSA Questions</h1>
    <ul>
        {% for question in questions %}
            <li><a href="{% url 'question_detail' question.id %}">{{ question.title }}</a>
                <small>Tags:
                {% for tag in question.tags.all %}
                    <a href="{% url 'questions_by_tag' tag.id %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </small>
            </li>
        {% empty %}
            <li>No questions found.</li>
        {% endfor %}
    </ul>
    <a href="/my-submissions/">📄 My Submissions</a>
    

</body>
</html>

